# CODEOWNERS assigns responsibility for certain directories.

/backend/ @DaneliyaPavel
/frontend/ @DaneliyaPavel
/frontend/pwa/ @DaneliyaPavel
/frontend/web/ @DaneliyaPavel
/infra/ @DaneliyaPavel
/services/ @DaneliyaPavel
/backend/app/ @DaneliyaPavel
