fastapi==0.116.1
starlette==0.47.2
uvicorn[standard]
SQLAlchemy>=2.0
email-validator>=2.0
asyncpg
pydantic>=2.0
alembic
python-dotenv
passlib[bcrypt]==1.7.4
argon2-cffi
python-jose[cryptography]
python-multipart
httpx
aiosqlite
celery
redis
openpyxl
python-telegram-bot==22.3
pywebpush
prometheus-fastapi-instrumentator
prometheus-client
aiokafka
clickhouse-connect
pandas
catboost
prophet
mlflow
grpclib==0.4.7
grpcio==1.73.1
grpcio-tools==1.73.1
protobuf>=6.31
PyYAML
psycopg

aiohttp
aiojobs
jsonschema
aioresponses
