fastapi
uvicorn[standard]
SQLAlchemy>=2.0
email-validator>=2.0
asyncpg
pydantic
alembic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
python-multipart
httpx
aiosqlite
celery
redis
openpyxl
python-telegram-bot==22.2
pywebpush
prometheus-fastapi-instrumentator
aiokafka
clickhouse-connect
pandas
catboost
prophet
mlflow
